body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1000px;
    background: white;
}
header{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 15%;
    background: yellow;
}
nav {
	padding: 0; margin: 0;
	text-align: center; /* centrer le texte */
}
nav li {
	display: inline;
	list-style: none;
}
nav a {
	display:inline-block;
	margin: 0 30px;
}
#container{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: black;
}
aside{
    float: left;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 20%;
    height: 100%;
    background: grey;
}
section{
    float: right;
    margin: 0px; 
    padding: 0px;
    width: 80%;
    height: 100%;
    background: blue;
}
article{
    text-align: center;
    margin: 80px auto;
    padding: 50px;
    width: 300px;
    background: pink;
}
footer{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 20%;
    background: yellow;
}